.info_description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.info_description span{
  margin:0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.info_description textarea{
  width: 85%;
  height: 90%;
  resize: none;
  border-radius: 2px;
  border: transparent;

  font-weight: bold;
}

.info_description p{
  position: absolute;
  top: 80%;
  right:5%;
  font-size: 0.8rem;
  color: #dcdcdc;
}